{% extends "aprioriapp/base.html" %} {% block content %}
<!-- Informasi dataset  -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-6 col-xl-3">
      <div
        class="bg-light rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-chart-line fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Dataset</p>
          <h6 class="mb-0">Warung Kopi Klotok</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div
        class="bg-light rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-chart-bar fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">ukuran Dataset</p>
          <h6 class="mb-0">{{ukuran_dataset}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div
        class="bg-light rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-chart-area fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Jumlah Transaksi</p>
          <h6 class="mb-0">{{jumlah_transaksi}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div
        class="bg-light rounded d-flex align-items-center justify-content-between p-4"
      >
        <i class="fa fa-chart-pie fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Jumlah Item</p>
          <h6 class="mb-0">{{jumlah_item}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- informasi dataset End -->
<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-6 col-xl-6">
      <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">10 Produk Paling Laris</h6>
        </div>
        <canvas id="transaksi_paling_laris"></canvas>
      </div>
    </div>
    <div class="col-sm-6 col-xl-6">
      <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Transaksi Per jam</h6>
        </div>
        <canvas id="transaksi_per_jam"></canvas>
      </div>
    </div>
    <div class="col-sm-6 col-xl-6">
      <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Jumlah Transaksi Tiap Bulan</h6>
        </div>
        <canvas id="transaksi_tiap_bulan"></canvas>
      </div>
    </div>
    <div class="col-sm-6 col-xl-6">
      <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">Transaksi Per hari</h6>
        </div>
        <canvas id="transaksi_per_hari"></canvas>
      </div>
    </div>
  </div>
</div>
<!-- Sales Chart End -->
<!--content end-->

{% endblock content %}
